* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

.big-box {
    background: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 50px;
    width: 95%;
    max-width: 450px;
}

.input-city {
    border: none;
    outline: none;
    /*linha azul do google*/
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100%- 100px);
}

.button-src {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #c4c0bb;
    cursor: pointer;
    float: right;
    /*botão para o lado*/

}

.img-src {

    width: 20px;
}

.box-average {
    margin-top: 30px;

}

.City {
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
    text-transform: capitalize;
}

.temp {
    font-size: 15px;
    color: #ffffff;
    margin-top: 20px;

}

.temp-min {
    font-size: 15px;
    color: #ffffff;
    margin-top: 20px;

}

.little-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.text-forecast {
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
    /*primeira letra maiuscula*/
}

.humidity {
    color: #ffffff;
    margin-top: 20px;
}